<a href="https://colab.research.google.com/github/rensetiawanren/dibimbing-DSF-DS-25.0_Jupyter-Notebook/blob/main/D3_20240323_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRACTICE | D3 [20240323] - Introduction to Python**

## 0. Intro

In [ ]:
print("Hello World!")

Hello World!



---

## 1. Function

In [ ]:
def greet(name: object) -> object:
    """This function greets a person by name."""
    print("Hello, " + name + "!")

# Call the greet function with a name
greet("Rendy")

Hello, Rendy!



---

## 2. Data Type

In [ ]:
# Numeric data types
age = 30  # Integer (int)
price = 19.99  # Float (float)

# Textual data type
name = "Amanda"  # String (str)

# Boolean data type
is_registered = True  # Boolean (bool)

# Collection data types
fruits = ["apple", "cherry", "lime"]  # List (list)
customer = {  # Dictionary (dict)
    "name": "Rendy",
    "age": 30,
    "city": "New York"
}

# Accessing elements in collections
first_fruit = fruits[0]  # Accessing first element in list
customer_name = customer["name"]  # Accessing value by key in dictionary

# Printing data and data types
print("Age:", age, " (type:", type(age), ")")
print("Price:", price, " (type:", type(price), ")")
print("Name:", name, " (type:", type(name), ")")
print("Registered:", is_registered, " (type:", type(is_registered), ")")
print("First fruit:", first_fruit)
print("Customer name:", customer_name)

Age: 30  (type: <class 'int'> )
Price: 19.99  (type: <class 'float'> )
Name: Amanda  (type: <class 'str'> )
Registered: True  (type: <class 'bool'> )
First fruit: apple
Customer name: Rendy



---

## 3. Variables

In [ ]:
# String variable
name = "Amanda"

# Integer variable
age = 30

# Float variable (decimal number)
height = 1.75

# Boolean variable (True or False)
is_happy = True

# Print the variables
print("Name:", name)
print("Age:", age)
print("Height (in meters):", height)
print("Is happy:", is_happy)

Name: Amanda
Age: 30
Height (in meters): 1.75
Is happy: True

## 4. Arithmetic Operators

a. Addition

In [ ]:
# Get two numbers from the user
num1 = float(input("Enter the first number= "))
num2 = float(input("Enter the second number= "))

# Perform Arithmetic Operation - Addition
sum = num1 + num2

# Print the results
print("Sum:", sum)

Enter the first number= 23
Enter the second number= 11
Sum: 34.0

b. Substraction

In [ ]:
# Get two numbers from the user
num1 = float(input("Enter the first number= "))
num2 = float(input("Enter the second number= "))

# Perform Arithmetic Operation - Substraction
difference = num1 - num2

# Print the results
print("Difference:", difference)

Enter the first number= 7
Enter the second number= 5
Difference: 2.0

c. Multiplication

In [ ]:
# Get two numbers from the user
num1 = float(input("Enter the first number= "))
num2 = float(input("Enter the second number= "))

# Perform Arithmetic Operation - Multiplication
product = num1 * num2

# Print the results
print("Product:", product)

Enter the first number= 4
Enter the second number= 5
Product: 20.0

d. Division

In [ ]:
# Get two numbers from the user
num1 = float(input("Enter the first number= "))
num2 = float(input("Enter the second number= "))

# Perform Arithmetic Operation - Division
division = num1 / num2

# Print the results
print("Division:", division)

Enter the first number= 12
Enter the second number= 3
Division: 4.0

e. Modulo

In [ ]:
# Get two numbers from the user
num1 = float(input("Enter the first number= "))
num2 = float(input("Enter the second number= "))

# Perform Arithmetic Operation - Modulo (remainder)
remainder = num1 % num2

# Print the results
print("Remainder:", remainder)

Enter the first number= 24
Enter the second number= 6
Remainder: 0.0

f. Exponentiation

In [ ]:
# Get two numbers from the user
num1 = float(input("Enter the first number= "))
num2 = float(input("Enter the second number= "))

# Perform Arithmetic Operation - Exponentiation (Power)
power = num1 ** num2

# Print the results
print("Power:", power)

Enter the first number= 4
Enter the second number= 2
Power: 16.0

g. Floor Division

In [6]:
# Get two numbers from the user
num1 = float(input("Enter the first number= "))
num2 = float(input("Enter the second number= "))

# Perform Arithmetic Operation - Floor Division (integral Division)
floor_division = num1 // num2

# Print the results
print("Floor Division:", floor_division)

Enter the first number= 27
Enter the second number= 3
Floor Division: 9.0



---

## 5. Conditional

a. Same As

In [7]:
age = 20
if age >= 18:
  adult = True
else:
  adult = False

print(f"Is adult: {adult}")

Is adult: True

b. Not The Same As

In [8]:
x = 5
y = 10

if x != y:
    print("x and y are not equal")
else:
    print("x and y are equal")

x and y are not equal

c. Less Than

In [9]:
x = 10
y = 5

if x < y:
  print("x is less than y")
else:
  print("x is not less than y")

x is not less than y

d. Less Than Equal To

In [21]:
x = 5
y = 10

if x <= y:
  print("x is less than or equal to y")
else:
  print("x is not less than or equal to y")

x is less than or equal to y

e. More Than

In [19]:
x = 10
y = 5

if x > y:
  print("x is more than y")
else:
  print("x is not more than y")

x is more than y

f. More Than Equal To

In [23]:
x = 15
y = 10

if x >= y:
  print("x is more than or equal to y")
else:
  print("x is not more than or equal to y")

x is more than or equal to y



---

## 6. Statement

a. And

In [12]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both condition are True")

Both condition are True

b. Nested If

In [13]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("also above 20!")
    else:
        print("but not above 20")

Above ten,
also above 20!

c. If

In [14]:
a = 50
b = 50

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a and b are equal



---